table{
    margin-left: 10vw;
    margin-top: 40px;   
    width: 80vw;
    text-align: center;
}

.tabela{
    height: 60vh;
}

tr{
    transition: 1s;
}

tr:hover{
    transition: 1s;
    transform: scale(1.005);
}

.opcoes{
    background-color: white;
    text-align: right;
    border-radius: 5px;
    margin-right: 12vw;
    margin-top: 2vw;
    font-size: 2vh;
    font-weight: bolder;
}

.botoes{
    height: 4vh;
    margin-right: 1vh;
}