<table>

    <thead>
        <tr>
            <th>Nome: </th>
            <th>Idade:</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pessoa of lista">
            <th>
                <span *ngIf="pessoa.idade > 10">
                    <td >{{pessoa.nome}}</td>
                </span>
            </th>
            <th>
                <span *ngIf="pessoa.idade > 10">
                    <td >{{pessoa.idade}}</td>
                </span>
            </th>
        </tr>
    </tbody>

</table>
