div{
    padding-top: 20vh;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    width: 100vw;
    height: 100vh;
}

p{
    padding: 0px;
    margin: 0px;
}

input{
    border-radius: 5px;
}

button{
    margin-top: 2vh;
    color: green;
    background-color: rgba(0, 128, 0, 0.562);
}