h2{
    margin-bottom: 50px;
}

p{
    padding: 0px;
    margin: 0px;
}

input{
    border-radius: 5px;
}

button{
    margin-top: 2vh;
    width: 15vw;
   font-size: 20px;
}

.fundo{
    border-radius: 4px;
    margin-top: 20vh;
    margin-left: 40vw;
    text-align: center;
    width: 20vw;
    height: 40vh;
}