<div class="col opcoes">

    <button type="button" class="btn btn-outline-success botao-cadastrar" (click)="adicionar(cadastrar)"> Adicionar livro </button>

</div>

<div class="tabela">
    <table class = "table">

        <thead>
            <tr>
                <th scope="col" class="col">Id</th>   
                <th scope="col" class="col">Titulo</th>
                <th scope="col" class="col">Autor</th>
                <th scope="col" class="col">Opções</th>
            </tr>
        </thead>

        <tbody>
            <tr scope="row" *ngFor="let livro of lista">
                <td>{{livro.id}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning" (click)="editar(detalhar,livro,livro.id)">Detalhar</button>
                    <button type="button" class="btn btn-outline-danger" (click)="deletar(livro)">Deletar</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<ng-template #cadastrar let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Cadastrar livro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-livrosdetails (retorno)="salvar($event)" ></app-livrosdetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<ng-template #detalhar let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Detalhar livro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-livrosdetails [livro]="livroSelecionado" (retorno)="salvar($event)" ></app-livrosdetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
